@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
@font-face {
    font-family: 'Louis cafe';
    src: url("../src/asset/Louis_cafe/Louis\ George\ Cafe.ttf") format('truetype');
  }
@font-face {
  font-family: 'Sugar';
  src: url("../src/asset/Sugar Magic font/sugarmagicpersonaluseonly-jemyo.otf") format('opentype');
}  
}


@layer components {
    .gride {
      @apply flex-wrap;
    }
    .list {
        @apply flex-col;
    }
    .a_list {
      @apply w-[72%];
    }
    .cardList {
      @apply flex flex-row w-full;
    }
    .cardGrid {
      @apply flex flex-col items-center w-full;
    }
    .w_grid {
      @apply w-1/2;
    }
    .w_list {
      @apply w-[80%] mx-auto;
    }
    .img_list {
      @apply w-3/5;
    }
    .p_grid {
      @apply absolute top-[0] left-[0] w-full h-full z-10 rounded-[16px] hover:bg-[#0000004D] ;
      transition: background-color 1s ease-in-out;
    }
    .anim_grid {
      position: relative;
      color: white;
      transition: all 1s ease-in-out;
      transform: translateY(-20px);
      top: -20px;
      opacity: 0;
      max-height: 0;
      width: 80%;
      margin: 0 auto;
      z-index: 1;
    }
    .p_grid:hover > .anim_grid {
      position: relative;
      transition: all 1s ease-in-out;
      transform: translateY(0);
      opacity: 1;
      max-height: 400px;      
      width: 80%;
      margin: 0 auto;
      top: 20px;
      z-index: 1;
    }
      .form {
      @apply w-3/5 mx-auto rounded-[10px] mb-3 p-1 text-[#341f16]
    }
    body {
      @apply bg-[#E9D7BF] my-0 mx-auto max-w-[1440px];
    }
    #root {
      @apply min-h-screen;
    }
    li {
      @apply py-2
    }
  }